extends layout

block content
  h1= title
  p Welcome to #{title}

  #blogs
  ul
    #blogList

  h1 Add Blog Post
  #addBlog
    fieldset
        input#inputTitle(type='text', placeholder='Title')
        br
        input#inputAuthor(type='text', placeholder='Author')
        br
        input#inputContent(type='text', placeholder='Content',)
        br
        button#btnAddBlog Add Blog